<template>
  <div>
    这里是历史记录
  </div>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";
import LoginComponent from "./Login.vue";

@Component({
  components: {
    LoginComponent
  },
  data() {
    return {
      name: "liuchaoheliang",
      password: "123123"
    };
  }
})
export default class Login extends Vue {}
</script>
