<template>
  <div class="home">
    <div id="nav">
      <router-link to="/">Home</router-link>
      |
      <router-link to="/about">About</router-link>
      |
      <router-link to="/main">Main</router-link>
      |
      <router-link to="/login">Login</router-link>
    </div>
    <img alt="Vue logo" src="../assets/logo.png" />
    这里是首页
    <HelloWorld
      msg="Welcome to Your Vue.js + TypeScript App"
      name="liuchaoheliang"
      age="24"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import HelloWorld from "@/components/HelloWorld.vue"; // @ is an alias to /src
import MainFrame from "@/layouts/BaseLayout.vue";

@Component({
  components: {
    HelloWorld,
    MainFrame
  },
  data: {},
  methods: {
    change() {}
  },
  mounted() {}
})
export default class Home extends Vue {}
</script>

<style lang="less">
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
