<template>
  <a-layout :style="{ height: '100%' }">
    <Header :style="{ height: '10%' }"></Header>
    <a-layout-content :style="loginBg">
      <a-form
        id="components-form-demo-normal-login"
        :form="form"
        class="login-form"
        @submit="handleSubmit"
      >
        <a-form-item>
          <a-input
            v-decorator="[
              'userName',
              {
                rules: [
                  { required: true, message: 'Please input your username!' }
                ]
              }
            ]"
            v-bind:placeholder="uname"
            v-model="message"
          >
            <a-icon slot="prefix" type="user" style="color: rgba(0,0,0,.25)" />
          </a-input>
        </a-form-item>
        <a-form-item :style="{ marginBottom: '10px' }">
          <a-input
            v-decorator="[
              'password',
              {
                rules: [
                  { required: true, message: 'Please input your Password!' }
                ]
              }
            ]"
            type="password"
            placeholder="Password"
          >
            <a-icon slot="prefix" type="lock" style="color: rgba(0,0,0,.25)" />
          </a-input>
        </a-form-item>
        <a-form-item :style="{ marginBottom: '0px' }">
          <a-checkbox
            :style="{ float: 'left' }"
            v-decorator="[
              'remember',
              {
                valuePropName: 'checked',
                initialValue: true
              }
            ]"
          >
            记住我
          </a-checkbox>
          <router-link :style="{ float: 'right' }" to="/register"
            >这里注册</router-link
          >
          <a-button type="primary" html-type="submit" class="login-form-button">
            登录
          </a-button>

          <a class="login-form-forgot" href="">
            忘记密码
          </a>
        </a-form-item>
      </a-form>
    </a-layout-content>
    <Footer :style="{ height: '10%' }"></Footer>
  </a-layout>
</template>

<script>
import Footer from "../components/Footer.vue";
import Header from "../components/Header.vue";
import message from "ant-design-vue";
import $axios from "axios";

export default {
  components: {
    Footer,
    Header
  },
  props: {
    uname: String,
    pwd: String
  },
  data() {
    return {
      message: "",
      loginBg: {
        height: "80%",
        backgroundImage: "url(" + require("../assets/loginbg.jpg") + ")",
        backgroundRepeat: "no-repeat",
        backgroundSize: "100% 100%"
      }
    };
  },
  beforeCreate() {
    this.form = this.$form.createForm(this);
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          console.log("Received values of form: ", values);
          $axios
            .post("/api/login", {
              userName: this.uname,
              password: this.pwd
            })
            .then(res => {
              console.log(res);
              if (res.status) {
               this.$router.push("/main");
              } else {
                this.$message.error("error : login fail , pelease hold on ...");
              }
            })
            .catch(function(error) {
              console.log(error);
            });
        }
      });
    }
  }
};
</script>

<style>
#components-form-demo-normal-login {
  background-color: white;
  max-width: 350px;
  padding: 40px 40px 5px 40px;
  border-radius: 3px;
  position: absolute;
  right: 10%;
  bottom: 25%;
}

#components-form-demo-normal-login .login-form-forgot {
  float: right;
}

#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
</style>
