<template>
  <MainFrame text="nice to meet you ! this is index"></MainFrame>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import MainFrame from "@/layouts/BaseLayout.vue";

@Component({
  components: {
    MainFrame
  }
})
export default class Main extends Vue {}
</script>
