<template>
  <span>这里是用户信息中心</span>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";
import LoginComponent from "./Login.vue";

@Component({
  components: {
    LoginComponent
  },
  data() {
    return {
      name: "liuchaoheliang",
      password: "123123"
    };
  }
})
export default class Login extends Vue {}
</script>
