<template>
  <div>
    商品下架
  </div>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {
  },
  data() {
    return {
      name: "liuchaoheliang",
      password: "123123"
    };
  }
})
export default class UserList extends Vue {}
</script>
