<template>
  <div>
    <a-steps :current="currentStep" size="small">
      <a-step title="选择中心" />
      <a-step title="必要检查" />
      <a-step title="执行转移" />
      <a-step title="执行结果" />
    </a-steps>
    <a-divider></a-divider>
    <div style="min-height: 350px; padding: 15px 10px;">
      <a-row>
        <a-col :span="4" style="text-align: center" >
          <span>1. 选择中心  </span>
        </a-col>
        <a-col :span="16" style="text-align: center" >
          <span>故障切换从：</span>
          <a-select
            labelInValue
            placeholder="请选择"
            :disabled="stepButton[0]"
            @change="(v) => handleChange('fail', v.key)"
            style="width: 140px"
          >
            <a-select-option v-for="item in idcs" :key="item.idcNo" >
              {{ item.name }}
            </a-select-option>
          </a-select>
          <span> 转移到：</span>
          <a-select
            labelInValue
            placeholder="请选择"
            :disabled="stepButton[0]"
            @change="(v) => handleChange('over', v.key)"
            style="width: 140px"
          >
            <a-select-option v-for="item in idcs" :key="item.idcNo" >
              {{ item.name }}
            </a-select-option>
          </a-select></a-col>
        <a-col :span="4" style="text-align: center" >
          <a-button type="primary" :disabled="stepButton[0]" @click="chooseCenterNext">下一步</a-button>
        </a-col>
      </a-row>
      <a-divider></a-divider>
      <a-row type="flex" justify="space-around" align="middle">
        <a-col :span="4" style="text-align: center" >
          <span>2. 必要检查 </span>
        </a-col>
        <a-col :span="16" style="text-align: center" >
          <a-table
            itemLayout="horizontal"
            :rowKey="(item) => item.type"
            :pagination="false"
            :showHeader="false"
            :columns="checkColumns"
            :dataSource="checkResults">
            <span slot="msg" slot-scope="text">
              {{ text.length == 0 ? '检查通过' : text.join(';') }}
            </span>
          </a-table>
        </a-col>
        <a-col :span="4" style="text-align: center" >
          <a-button type="primary" :disabled="stepButton[1]" @click="checkNext" >开始检查</a-button>
        </a-col>
      </a-row>
      <a-divider></a-divider>
      <a-spin tip="执行中..." :spinning="executing" >
        <a-row>
          <a-col :span="4" style="text-align: center" >
            <span>3. 执行转移 </span>
          </a-col>
          <a-col :span="16" style="text-align: center" >
          </a-col>
          <a-col :span="4" style="text-align: center" >
            <a-button type="primary" :disabled="stepButton[2]" @click="executeNext" >开始转移</a-button>
          </a-col>
        </a-row>
      </a-spin>
      <a-divider></a-divider>
      <a-row type="flex" justify="space-around" align="middle">
        <a-col :span="4" style="text-align: center" >
          <span>4. 执行结果 </span>
        </a-col>
        <a-col :span="16" style="text-align: center" >
          <a-table
            itemLayout="horizontal"
            :rowKey="(item) => item.type"
            :pagination="false"
            :showHeader="false"
            :columns="executeColumns"
            :dataSource="executeResults">
            <span slot="executeMsg" slot-scope="text">
              {{ text.length == 0 ? '执行完成' : text.join(';') }}
            </span>
          </a-table>
        </a-col>
        <a-col :span="4" style="text-align: center" >
          <a-button type="primary" :disabled="stepButton[3]" @click="finish" >完成</a-button>
        </a-col>
      </a-row>
    </div>
  </div>
</template>

<script>
import { checkFailover, executeFailover } from '@/api/idcmetadata'

export default {
  name: 'FailoverSteps',
  props: {
    idcs: { type: [Array],
      default: () => []
    }
  },
  data () {
    const checkColumns = [
      {
        title: '类型',
        dataIndex: 'type'
      },
      {
        title: '结果',
        dataIndex: 'msg',
        scopedSlots: { customRender: 'msg' }
      }
      // ,{
      //   title: '操作',
      //   key: 'action',
      //   scopedSlots: { customRender: 'action' }
      // }
    ]

    const executeColumns = [
      {
        title: '类型',
        dataIndex: 'type'
      },
      {
        title: '结果',
        dataIndex: 'msg',
        scopedSlots: { customRender: 'executeMsg' }
      }
    ]

    const checkResults = [
      // {
      //   type: '物理机部署',
      //   msg: ['物理机检查结果: msg123']
      // }
    ]
    const executeResults = [
      // {
      //   type: '物理机部署',
      //   msg: ['物理机检查结果: msg123']
      // }
    ]
    const stepButton = {
      0: false,
      1: true,
      2: true,
      3: true
    }

    return {
      currentStep: 0,
      stepButton,
      checkColumns,
      executeColumns,
      chooseCenter: {},
      executing: false,
      executeResults,
      checkResults
    }
  },
  methods: {
    handleChange (k, v) {
      this.chooseCenter[k] = v
    },
    chooseCenterNext () {
      if (this.chooseCenter.fail === undefined || this.chooseCenter.over === undefined) {
        this.$message.error('请选择数据中心')
        return
      } else if (this.chooseCenter.fail === this.chooseCenter.over) {
        this.$message.error('不能选择相同的数据中心')
        return
      }
      this.currentStep++
    },
    checkNext () {
      checkFailover(this.chooseCenter).then(res => {
        if (res.code === '0') {
          this.checkResults = res.data
          // check status
          if (this.checkResults.filter(item => item.status === false).length === 0) {
            this.currentStep++
          }
        }
      }).catch(error => {
        this.$message.error(error)
      }).finally()
    },
    executeNext () {
      this.executing = true
      executeFailover(this.chooseCenter).then(res => {
        if (res.code === '0') {
          this.executing = false
          this.executeResults = res.data
          this.currentStep++
        }
      }).catch(error => {
        this.$message.error(error)
      }).finally()
    },
    finish () {
      this.currentStep = 0
      this.executeResults = []
      this.checkResults = []
    }
  },
  computed: {

  },
  watch: {
    currentStep (newVal, oldVal) {
      this.stepButton[oldVal] = true
      this.stepButton[newVal] = false
    }
  }

}
</script>

<style lang="less" type="text/less">
  .ant-table-placeholder{
    border-bottom: none
  }
</style>
