<template>
  <a-layout-footer class="footer">
    这里是底部
  </a-layout-footer>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<style scoped>
.footer {
  background-color: white;
}
</style>
