<template>
  <a-layout-header class="header">
    这里是头部
  </a-layout-header>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style scoped>
.header {
  background-color: white;
}
</style>
