<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h1>{{ name }}</h1>
    <h1>{{ age }}</h1>
    <p>
      For a guide and recipes on how to configure / customize this project,<br />
      check out the
      <a href="https://cli.vuejs.org" target="_blank" rel="noopener"
        >vue-cli documentation</a
      >.
    </p>
  </div>
</template>

<script>
import { Component, Prop, Vue } from "vue-property-decorator";

// Vue.component('HelloWorld', {
//   props: {
//     msg: String,
//     age: Number,
//     name: String
//   }
// })

// @Component
// export default class HelloWorld extends Vue {
//   @Prop() private msg: string;
//   @Prop() private name: string;
//   @Prop() private age: number;
// }

export default {
  props: {
    msg: String,
    age: String,
    name: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
