<template>
    <a-layout id="components-layout-demo-custom-trigger">
        <a-layout-sider
                class="left-menu"
                :trigger="null"
                collapsible
                v-model="collapsed"
        >
            <div class="logo"/>
            <a-menu
                    :defaultSelectedKeys="['1']"
                    :defaultOpenKeys="['sub1']"
                    mode="inline"
                    theme="dark"
                    :inlineCollapsed="collapsed"
            >
                <a-menu-item key="1">
                    <router-link to="/main/home">
                        <a-icon type="pie-chart"/>
                        <span>首页</span>
                    </router-link>
                </a-menu-item>
                <a-menu-item key="2">
                    <router-link to="/main/todo">
                        <a-icon type="desktop"/>
                        <span>我的待办</span>
                    </router-link>
                </a-menu-item>
                <a-menu-item key="3">
                    <router-link to="/main/history">
                        <a-icon type="inbox"/>
                        <span>历史记录</span>
                    </router-link>
                </a-menu-item>
                <a-sub-menu key="sub1">
                    <span slot="title"><a-icon type="mail"/><span>用户管理</span></span>
                    <a-menu-item key="5">
                        <router-link to="/main/user/list">用户查询</router-link>
                    </a-menu-item>
                    <a-menu-item key="6">
                        <router-link to="/main/user/active">用户激活</router-link>
                    </a-menu-item>
                </a-sub-menu>
                <a-sub-menu key="sub2">
          <span slot="title">
            <a-icon type="appstore"/><span>商品管理</span>
          </span>
                    <a-menu-item key="9">
                        <router-link to="/main/product/add">商品添加</router-link>
                    </a-menu-item>
                    <a-menu-item key="10">
                        <router-link to="/main/product/list">商品查询</router-link>
                    </a-menu-item>
                    <a-menu-item key="11">
                        <router-link to="/main/product/down">商品下架</router-link>
                    </a-menu-item>
                </a-sub-menu>
            </a-menu>
        </a-layout-sider>
        <a-layout>
            <a-layout-header style="background: #fff; padding: 0;">
                <a-icon
                        class="trigger"
                        :type="collapsed ? 'menu-unfold' : 'menu-fold'"
                        @click="() => (collapsed = !collapsed)"
                />
                <a-menu
                        v-model="current"
                        :style="{ display: 'inline-block', float: 'right' }"
                        mode="horizontal"
                >
                    <a-sub-menu>
            <span slot="title" class="submenu-title-wrapper"
            ><a-icon type="user"/>liuchaoheliang</span
            >
                        <a-menu-item-group>
                            <a-menu-item key="setting:0">
                                <router-link to="/main/userInfo">我的资料</router-link>
                            </a-menu-item>
                            <a-menu-item key="setting:1">
                                <router-link to="/main/password">修改密码</router-link>
                            </a-menu-item>
                            <a-menu-item key="setting:2">
                                <router-link to="/loginOut">退出登录</router-link>
                            </a-menu-item>
                        </a-menu-item-group>
                    </a-sub-menu>
                </a-menu>
            </a-layout-header>
            <a-breadcrumb separator=">" :routes="routes" :style="{ padding: '15px' }">
                <template
                        slot="itemRender"
                        slot-scope="{ route, params, routes, paths }"
                >
          <span>
            {{ route.name }}
          </span>
                    <!--<span v-if="routes.indexOf(route) === routes.length - 1">
                      {{ route.name }}
                    </span>
                    <router-link v-else :to="route.path">
                      {{ route.name }}
                    </router-link>-->
                </template>
            </a-breadcrumb>
            <a-layout-content
                    :style="{ padding: '0px 24px', background: '#fff', overflow: 'auto' }"
            >
                <router-view></router-view>
            </a-layout-content>
        </a-layout>
    </a-layout>
</template>

<script>
  import { Component, Prop, Vue } from "vue-property-decorator";

  export default {
    props: {
      text: String
    },
    data() {
      const { lang } = this.$route.params;
      return {
        collapsed: false,
        current: [],
        basePath: `/`,
        routes: this.$route.matched
      };
    },
    watch: {
      $route(now, old) {
        this.routes = now.matched;
      }
    }
  };
</script>
<style scoped>
    #components-layout-demo-custom-trigger {
        height: inherit;
    }

    #components-layout-demo-custom-trigger {
        text-align: left;
    }

    #components-layout-demo-custom-trigger .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color 0.3s;
    }

    #components-layout-demo-custom-trigger .trigger:hover {
        color: #1890ff;
    }

    #components-layout-demo-custom-trigger .left-menu a {
        color: white;
    }

    #components-layout-demo-custom-trigger .logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
    }
</style>
